.App {
  text-align: center;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  position: relative;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Time {
  position: absolute;
  top: 200px;
  width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 50px;
}
.Times {
  font-size: 15px;
  color: grey;
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding-left: 48px;
  


}
.Time h1 {
margin: 0;
font-family: 'Times New Roman', Times, serif;
}
.start {
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #555555;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 24px;
  margin: 11px 21px;
}
.start:hover {
  background-color: transparent;
 
}
.reset {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  border: 2px solid #555555;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 24px;
  margin: 11px 21px;
}
.reset:hover {
  background-color: transparent;
  color: white;
}

